<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>E Sale Tech</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx7babf31e1fa9b793</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>weixinULAPI</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>需要您的同意, APP才能访问媒体资料库</string>
	<key>NSCalendarsUsageDescription</key>
	<string>需要您的同意, APP才能访问日历</string>
	<key>NSCameraUsageDescription</key>
	<string>APP需要您的同意，才能访问相机进行拍摄商品信息，如禁止将无法拍照拍摄图片无法更新信息</string>
	<key>NSContactsUsageDescription</key>
	<string>APP需要您的同意，才能访问通讯录识别用户，如禁止将无法识别用户</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>需要您的同意, APP才能始终访问位置</string>
	<key>NSLocationUsageDescription</key>
	<string>需要您的同意, APP才能访问位置</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>需要您的同意, APP才能在使用期间访问位置</string>
	<key>NSMotionUsageDescription</key>
	<string>需要您的同意, APP才能获取您的运动与健身数据</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>请允许APP保存图片到相册</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>APP需要您的同意，才能访问相册进行选择照片上传/发布信息，如禁止将无法上传选择照片上传/发布信息</string>
	<key>NSRemindersUsageDescription</key>
	<string>需要您的同意, APP才能访问提醒事项</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>如果不允许，语音消息无法转换为文字</string>
	<key>NSSupportsPurgeableLocalStorage</key>
	<string>YES</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<string>YES</string>
</dict>
</plist>
